@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Rubik, var(--font-noto-sans-kr), sans-serif;
}
