@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
